@{
    ViewBag.Title = "Home Page";
}

<style>
        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
        .select-box {
          background: #fff;
          position: relative;
          z-index: 1;
        }
    </style>


<div ng-app="demo">
    <div class="ng-cloak" ng-controller="DemoCtrl as ctrl">
        <div class="select-box" ng-if="ctrl.appendToBodyDemo.present">
            <h3>Please Select Your Country: </h3><br />
            <ui-select ng-model="ctrl.country.selected" theme="selectize" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a country" append-to-body="true">
                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.countryName}}</ui-select-match>
                <ui-select-choices repeat="country in ctrl.countries | filter: $select.search">
                    <span ng-bind-html="country.countryName | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select><br />
            <p>Selected: {{ctrl.country.selected}}</p>
        </div>
    </div>
</div>
